html {
	background-image: url("images/wallpaper.jpg");
	background-attachment: fixed;
}

body {
	font-family: "Helvetica";
	font-size: 16px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-style: dashed;
	padding: 20px;
	background-color: #F2A43E;
}

p {
	font-size: 14px;
}

.bold {
	font-weight: bold;
}

.indent {
	padding-left: 20px;
}

#my_pic {
	height: 50%;
	width: 50%;
	border: solid;
	border-width: 1px;
}